
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.containerSlide{
  width: 430px;
  margin-left: 90px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.containerSlide img{
  height: 80vmin;
} 

.fondo{
  width: 100%;
  height: 100vmin;
  background-image: url('../../assets/img/h2-pattern.png');
}

.title{
  display: flex;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
}

.banner{
  display: flex;
  width: 90%;
  height: 70vmin;
  background-image: url('../../assets/img/2.png');
  background-repeat: no-repeat;
  margin-left: 100px ;
}




